bucket         = "blueeagle-tfstate-platform"
key            = "tenants/retail/terraform.tfstate"
region         = "eu-west-2"
dynamodb_table = "blueeagle-tfstate-lock-platform"
encrypt        = true
